body,ul,ol,dl,h1,h2,h3,h4,h5,h6,p,input{padding: 0;margin: 0;list-style:none;}
img{border: none;margin: 0;padding: 0;}
a{text-decoration: none;}
*{box-sizing:border-box}
html, body {
    font-size: 14px;
    font-family: "Microsoft YaHei", 微软雅黑, Verdana, Arial;
    background-color: rgb(255, 255, 255);
}
/*导航部分开始*/
.n-nav{
    position: fixed;
    background-color: rgba(51,51,51,0.7);
    width: 100%;
    height: 100px;
    border-bottom: 1px solid rgb(97,96,115);
    z-index:100;
}
.n-nav-content{
    position: relative;
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}
.n-nav-logo{
    float: left;
    margin-top: 7px;
    display: block;
}
.n-nav-logo img {
    display: block;
    border: none;
}
.n-nav-list{
    height: 100%;
    letter-spacing: 1px;
    line-height: 97px;
    float: right;
}
.n-nav-list li{
    position: relative;
    float: left;

    margin: 0 8px;
    transition: all .3s ease-in-out;
}
.n-nav-list li>a{
    position: relative;
    z-index: 100;
    padding: 10px;
    color: rgb(196,176,125);
    letter-spacing: 1px;
    line-height: 97px;
}
.n-nav-list li:hover, .n-nav-list li.actived {
    border-bottom: 3px solid rgb(196,176,125);
}
.n-nav-list li:hover a {
    background-color: rgb(247,237,211);
}

.nav-hidden-list{
    position: absolute;
    display: none;
    left: 0;
    min-width: 100%;
    top: 70px;
    padding: 5px 0;
    line-height: 25px;
    background-color: rgb(247,237,211);
    z-index: 90;
}
.nav-hidden-list a{
    display: block;
    line-height: 25px;
    padding: 0 10px;
    margin: 5px 0;
    color: rgb(196,176,125);
}
.hidden{
    display: block;
}

/*导航部分结束*/
/*banner图开始*/
.n-banner img {
    width: 100%;
    height: auto;
    display: block;
}
/*banner图结束*/

/*道师简介部分开始*/
.n-abouts{
    margin-top: 60px;
}
.n-abouts-content{
    position: relative;
    width: 1200px;
    margin: 0 auto;
}
.n-abouts-img img{
    display: block;
}
.n-abouts-words{
    position: absolute;
    right: 0;
    left: 500px;
    top: 0;
    bottom: 0;
}
.n-abouts-text{
    margin-top: 50px;
    line-height: 30px;
}
.n-abouts-text p{
    color: #999;
}
/*道师简介部分结束*/
/*道师组织结构开始*/
.n-org-title{
    position: relative;
    margin: 0 auto;
    text-align: center;
    margin-top: 80px;
}
.n-org-content{
    position: relative;
    width: 1200px;
    margin: 0 auto;
}
.n-org-content h1{
    display: inline-block;
    font-weight: 500;
}
.n-org-line{
    position: absolute;
    top: -10px;
    left: 50%;
    margin-left: -130px;
}
.n-line-heng{
    position: relative;
    display: block;
    left: -7px;
    width: 35px;
    border-bottom: 1px solid rgb(196,176,125);
}
.n-line-shu{
    position: relative;
    top: -7px;
    display: block;
    height: 20px;
    border-left: 1px solid rgb(196,176,125);
}
.n-org-box{
    margin-top: 20px;
}
/*道师组织结构结束*/
/*法律服务*/
.n-serve-img img{

    width: 100%;
    height: auto;
    display: block;
    margin-top: 40px;
}
/*服务简介开始*/

.n-serve-content{
    position: relative;
    width: 1200px;
    margin: 0 auto;

}
.n-serve-ms{
    float: left;
    width: 700px;
    margin-top: 70px;
    line-height: 30px;
}
.n-serve-ms p{
    color:#999;
}
.n-serve-content-img{
    float: right;
    position: relative;
    margin-top: -130px;

}
.n-serve-content-img img{
    border: none;
}
.clear{
    clear:both;
}
.n-serve-box2{
    margin-top: 110px;
    text-align: center;
    color: #333;
}
.n-serve-box2-content{
    position: relative;
    width: 1200px;
    margin: 0 auto;
}
.n-serve-box2-content p{
    margin: 20px 0;
    font-size: 16px;
}
.n-serve-img2 img{
    width: 100%;
    height: auto;
    display: block;
    margin-top: 90px;
}

/*服务简介结束*/




/*底部开始*/
.n-footer{
    background-color: rgb(31,31,31);
    position: relative;
    height: auto;
}
.n-content{
    position: relative;
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}
.n-address{
    position: relative;
    width: 700px;
    height: 300px;
    float: left;
    background-image: url(../images/njm/footer-xian.png);
    background-repeat: repeat-y;
    background-position: top right;
}
.n-erweima{
    float: left;
    width: 500px;
}
.n-address-con{
    margin-top: 40px;
    padding-right: 20px;
}
.n-address-con img{
    width: 240px;
}
.n-address-con div {
    margin-top: 40px;
    margin-right: 40px;
}
.n-cons{
    float: right;
}
.n-address h3{
    font-weight: 500;
    color: rgb(196,176,125);
}
.n-address{
    margin: 10px 0;
    font-size: 12px;
    color: rgb(196,176,125);
}
.n-erweima-con{
    margin-top: 70px;
}
.n-erweimabox{
    float: left;
    text-align: center;
    color: rgb(196,176,125);
    margin-left: 70px;
}
.n-erweimabox p{
    margin-top: 10px;
}

.n-copyright {
    margin: 20px 0;
    text-align: center;
    color: rgb(196,176,125);
}


/*底部结束*/